<!-- -<div class="navbar1">
	<div class="navbarLogo">
		<%= link_to 'wecard ', invitations_path %>
	</div>
	<div class="navBarButton">
		<%= link_to 'Dashboard', invitations_path %>
	</div>
	<div class="navBarButton">
		<%= link_to 'Make a new WeCard', new_invitation_path(session['user_id']) %>
	</div>
	<div class="navBarButton">
		Currently logged in as <%= User.find(session['user_id']).first_name.capitalize %>
	</div>
	<div class="navBarButton logout">
		<%= link_to 'Log out', sessions_path, method: :delete %>
	</div>
</div>
 -->

  <header id="header" class="alt">
        <br>
        <nav id="nav">
          <ul>
            <li class="current"><a href="../user_path(:id)">HOME</a></li>
            <li class="submenu">
              <a href="javascript:history.back()">Go Back</a>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="submenu">
                  <a href="">Submenu</a>
                  <ul>
                    <li><a href="#">Dolore Sed</a></li>
                    <li><a href="#">Consequat</a></li>
                    <li><a href="#">Lorem Magna</a></li>
                    <li><a href="#">Sed Magna</a></li>
                    <li><a href="#">Ipsum Nisl</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="../invitations/new" class="button special"></a></li>
          </ul>
        </nav>
      </header>