<div class = "containerInv">
  <%= render 'navbar' %>
    <div class="dashboard">
      <h1>DASHBOARD</h1>

      <%= image_tag @user.photo.url(:medium) %>
      </br>

<%= link_to 'New Project', new_invitation_path %>

      <table class="table table-striped">
  <tbody>
    <% @user.invitations.each do |i| %>
      <tr>
        <td><%= link_to i.title, invitation_path(i) %></td>
        <td><%= i.description %></td>
        <td><%= i.recipient %></td>
        <td><%= link_to 'Edit', edit_invitation_path(i) %></td>
        <td><%= button_to 'Delete', invitation_path(i), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
</div>
