
	<%# @invitations.each do |i| %>
	<%#= i.title %>
	<%# end %>


<h1>DASHBOARD</h1>

<br />

<%#= @current_user.id %>



<%#= current_user.id %>
<%= link_to 'New Project', new_invitation_path %>
<table class="table table-striped">
  <tbody>
    <% @user.invitations.each do |i| %>
      <tr>
        <td><%= link_to i.title, invitation_path(i) %></td>
        <td><%= i.description %></td>
        <td><%= i.recipient %></td>
        <td><%= link_to 'Edit', edit_invitation_path(i) %></td>
        <td><%= button_to 'Delete', invitation_path(i), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>