<html>
<body class="dash">
<div class = "dashboard">

<%= render 'navbar' %>   
    </br>
    </br>
    </br>
  <h1>Dashboard</h1>
   </br>
    </br>

  <div class="dasboardbody">

    <video controls>
      <source src="<%= @user.photo.url(:mp4video) %>" type="video/mp4">
      <source src="<%= @user.photo.url(:oggvideo) %>" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    </br>
    </br>


    <%= button_to 'New Project', new_invitation_path, method: :get %>
        <br />
    <br />
      <div class="invitationout">

        <h2>My Cards</h2>
            <br />
        <br />
        <div class="table-responsive">
        <table class = "table">
          <thead>
            <tr>
              <th>TITLE</th>
              <th>DESCRIPTION</th>
              <th>RECIPIENT</th>
              <th>ACTIONS</th>
              <th colspan="8"></th>
            </tr>
          </thead>
          <tbody>
            <% @user.invitations.each do |i| %>
              <tr>
                  <td class = "button special"><%= button_to i.title, invitation_path(i), method: :get %></td>
                  <td><%= i.description %></td>
                  <td><%= i.recipient %></td>
                  <!--actions-->
                  <td><%= button_to 'Edit', edit_invitation_path(i), method: :get %></td>
                  <td><%= button_to 'Delete', invitation_path(i), method: :delete %></td>
              <% end %>
              </tr>
          </tbody>
        </div>
        </table>
      </div>

  </div>

</div>
</body>
</html>

