<%= form_for(@invitation) do |f| %>


  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br />
    <div class="field">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %>
  </div>
  <br />


    <div class="field">
    <%= f.label :recipient_email %><br>
    <%= f.text_field :recipient_email %>
  </div>
        <br />

  <%= f.fields_for :responses do |builder| %>
    Name: <%= builder.text_field :invitee_name %><br />
    Email: <%= builder.text_field :invitee_email %><hr />
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

