<%= form_for(@invitation) do |f| %>


  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br />
    <div class="field">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %>
  </div>
  <br />
    <div class="field">
    <%= f.label :invitee_name %><br>
    <%= f.text_field :invitee_name %>
  </div>
  <br />
    <div class="field">
    <%= f.label :invitee_email %><br>
    <%= f.text_field :invitee_email %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

