
<tbody>
    

<h1>WeCard Project Name:<%= @invitation.title %></h1>
<br />

	<h4>This WeCard is for <%= @invitation.recipient %></h2>        
    <h4><%= @invitation.description %></h3>
    <h4>Your collaborators are:</h2>
    
    <table class="table table-striped">
  		<tr>
  			<td>Person 1 Name: <%= @invitation.invitee_name %></td>
    		<td>Person 1 Email: <%= @invitation.invitee_email %></td>
  		</tr>



</tbody>


