

    

<h1>WeCard Project Name:<%= @invitation.title %></h1>
<br />

	<h4>This WeCard is for <%= @invitation.recipient %></h2>        
    <h4><%= @invitation.description %></h3>

      <br />
    <br />
    <h4>Your collaborators are:  </h2>
    
    <table class="table table-striped">
  		<% @invitation.responses.each do |r| %>

  		<tr>
  			<td>Person 1 Name: <%= r.invitee_name %></td>
    		<td>Person 1 Email: <%= r.invitee_email %></td>
  		</tr>

  		<% end %>

</table>

<%= link_to 'Add Collaborator', new_invitation_response_path(@invitation) %>

<%= image_tag @response.video.url %>