<%= render 'navbar' %>  

<br />
<br />
<br />
<body>  
<h1>WeCard Project Name:<%= @invitation.title %></h1>
   <h4>Description: <%= @invitation.description %></h3>
Email: <%= @invitation.recipient_email %>
<br />

	<h4>This WeCard is for <%= @invitation.recipient_email %></h2>
  <br />        
    
    <h4>Your collaborators are:  </h2>
    
    <table class="table table-striped">
    		<% @invitation.responses.each do |r| %>

    		<tr>
    			<td>Person 1 Name: <%= r.invitee_name %></td>
      		<td>Person 1 Email: <%= r.invitee_email %></td>
    		</tr>
  		<% end %>

<%= link_to 'Add Collaborator', new_invitation_response_path(@invitation) %>

</body>