<br />
WeCard for <%= @invitation.recipient_email %>
<br />
<% if @invitation.responses.count != 0 %>
<br />
<figure id="video_player">
  <div id="video_container">
  <video controls poster="http://demosthenes.info/assets/images/vid-glacier.jpg">
    <source src="<%= @invitation.responses[0].video.url(:mp4video) %>" type="video/mp4">
    <source src="<%= @invitation.responses[0].video.url(:oggvideo) %>" type="video/ogg">
    Your browser does not support the video tag.
</video>
</div>
<figcaption>
<% @invitation.responses.each do |r| %>
  <a href="<%= r.video.url(:mp4video) %>" class="currentvid">
  <!-- alternate text (alt) -->
    <img src="<%= r.video.url(:preview) %>" alt="<%= r.invitee_name %>">
  </a>
<% end %>
</figcaption>
</figure>


</table>

<script type="text/javascript">
  var video_player = document.getElementById("video_player");
video = video_player.getElementsByTagName("video")[0],
video_links = video_player.getElementsByTagName("figcaption")[0],
source = video.getElementsByTagName("source"),
link_list = [],
vidDir = "",
currentVid = 0,
allLnks = video_links.children,
lnkNum = allLnks.length;
video.removeAttribute("controls");
video.removeAttribute("poster");

(function() {
  function playVid(index) {
    video_links.children[index].classList.add("currentvid");
    source[0].src = vidDir + link_list[index].replace("/mp4video/", "/original/") + ".mp4";  
    source[1].src = vidDir + link_list[index].replace("/mp4video/", "/oggvideo/") + ".ogg";
    currentVid = index;
    video.load();
    video.play();
  }

  for (var i=0; i<lnkNum; i++) {
    var filename = allLnks[i].href;
    console.log(filename);
    //pulls without the .mp4
    link_list[i] = filename.substring(0, filename.lastIndexOf("."));
    // link_list[i] = filename.match(/([^\/]+)(?=\.\w+$)/)[0];
  //when people click a link, allows index
    (function(index){
      allLnks[i].onclick = function(i){
        i.preventDefault();  
        //turn off playback of all videos
        for (var i=0; i<lnkNum; i++) {
          allLnks[i].classList.remove("currentvid");
        }
        //plays the video that was chosen
        playVid(index);
      }    
  })(i);
}
//when the currently playing video ends
video.addEventListener('ended', function () {
    //stop the currently playing video
    allLnks[currentVid].classList.remove("currentvid");
    //find what the id is for the next video that should play
    if ((currentVid + 1) >= lnkNum) { nextVid = 0 } else { nextVid = currentVid+1 }
    //play it
    playVid(nextVid);
})
//controls are only there depending on mouse over
video.addEventListener('mouseenter', function() {
    video.setAttribute("controls","true");
})

video.addEventListener('mouseleave', function() {
    video.removeAttribute("controls");
})

var indexOf = function(needle) {
    if(typeof Array.prototype.indexOf === 'function') {
        indexOf = Array.prototype.indexOf;
    } else {
        indexOf = function(needle) {
            var i = -1, index = -1;
      for(i = 0; i < this.length; i++) {
                if(this[i] === needle) {
                    index = i;
                    break;
                }}
            return index;
        };}
    return indexOf.call(this, needle);
};

var focusedLink = document.activeElement;
index = indexOf.call(allLnks, focusedLink);
  
document.addEventListener('keydown', function(e) {
  if (index) {
    var focusedElement = document.activeElement;
    if (e.keyCode == 40 || e.keyCode == 39) { // down or right cursor
      var nextNode = focusedElement.nextElementSibling;
      if (nextNode) { nextNode.focus(); } else { video_links.firstElementChild.focus(); }
    }
    if (e.keyCode == 38 || e.keyCode == 37) { // up or left cursor
      var previousNode = focusedElement.previousElementSibling;
      if (previousNode) { previousNode.focus(); } else { video_links.lastElementChild.focus(); }
    }
  }
});

})();  

</script>
<% end %>


<br/>
FROM: 
<br/>

<% @invitation.responses.each do |r| %>
  <%= r.invitee_name %>

  <% end %>




