<h3>Hi there, <%= @response.invitee_name %>! <br /><br />
Upload your snippet for <%= @invitation.title %> <br />
What's this about? <%= @invitation.description %> </h3>

<br />

<%= form_for (@invitation) do |f| %>

<br />

  <div class="actions">
    <%= f.submit "Upload Video" %>
  </div>

<% end %>